*{
	paddin: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: black;
}

.header{
	background-color: #000;
}

.header img{
	width: 150px;
	margin-bottom: 20px;
}

.serch{
    margin-top: 30px;
}

.serch .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
	margin-bottom: 20px;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.serch .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: none;
}

.movieCard{
	height: 600px;
	margin-bottom: 45px;
	position: relative;
}

.movieCard img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.titleInfo{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.overview{
	padding: 5px;
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
	background-color: cornsilk;
	color : black;
	height: 70%;
	transform: translateY(100px);
	transform: scale(0);
	opacity: 0;
	transition: all .6s ease-in-out;
}

.overview h5{
	color: red;
	background-color: cornsilk;
}

.movieCard:hover .overview{
	transform: scale(1);
	opacity: 1;
}

.titleInfo h4{
	color: white;
	
}

.titleInfo .rating{
	color: yellow;
	
}

.titleInfo .ratingHigh{
	color: gold;
}
